* {
  margin: 0;
  padding: 0;
}

.navigation {
  font-family: var(--font1);
  /* height: 74px; */
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.nav-left {
  font-size: 20px;
  display: flex;
}
.nav-left span {
  font-size: 35px;
  display: flex;
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 25;
}
.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}
.nav-left ul li a {
  text-decoration: none;
  color: black;
}
.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
}

.content {
  height: 300px;
  /* background-color: rgb(186, 163, 207); */
  display: flex;
  padding: 9px;
  position: relative;
}

.content::after {
  content: "";
  background-image: url("../img/11.svg");
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.25;
}

.content-left {
  font-family: var(--font2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  z-index: 1;
}
.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-right img {
  height: 250px;
  border: 4px solid black;
  border-radius: 200px;
}

.home-articles {
  background-color: rgb(232, 228, 237);
  padding: 18px;
  font-size: larger;
  margin-top: 23px;
  position: relative;
}
.year-box {
  position: absolute;
  width: 234px;
  height: 255px;
  right: 53px;
  top: 16px;
}
.year-box div {
  margin: 12px 0px;
}
.home-article {
  display: flex;
  margin: 25px;
}
.home-article img {
  width: 300px;
}
.home-article-content {
  align-self: center;
  padding: 25px;
}
.home-article-content a {
  text-decoration: none;
  color: var(--main-bg-color);
}

.footer {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer a {
  color: antiquewhite;
}
